html {
    background-color: #fefeff;
    font-family: 'Roboto', sans-serif;
}
   
body {
    background-color: #fefeff;
    font-family: 'Roboto', sans-serif;
}
.title {
    font-family: 'Abril Fatface', serif;
    background-color: #fefeff;
    margin: 20px;
    font-size: 30px;
   }

#all {
    margin-top: 10px;
    background-image: url("tokio2.jpg");
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;  
    background-size:cover;  
    position: relative;
}   

#search {
    height: 100px;
    width: 1300px;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    background-color: #fcbaba;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    border-radius: 25px;
    position: absolute;
    opacity: 0.9;
}

#description {
    margin-right: 100px;
    margin-left: 100px;

}

#title-desc {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    align-items: flex-end;
    position: absolute;
    bottom: 150px;
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    background-color:rgba(247, 113, 60, 0.8)
}

#explain {
    font-family: 'Quicksand', sans-serif;   
    position:absolute;
    bottom: 30px;
    font-size: 24px;
    font-weight:bold;
    color: black;
    background-color:rgba(247, 113, 60, 0.8)
    
 
}

#cityOri {
    height: 48px;
    width: 200px;
    padding: 0 20px;
    font-size: 15px;
    line-height: 48px;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    border: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
    text-transform:capitalize;
}

#cityDes {
    height: 48px;
    width: 200px;
    padding: 0 20px;
    font-size: 15px;
    line-height: 48px;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    border: none;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    text-transform:capitalize;
}

#dateIni {
    height: 48px;
    width: 180px;
    padding: 0 20px;
    margin-left: 10px;
    font-size: 15px;
    line-height: 48px;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    border: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}

#dateFin {
    height: 48px;
    width: 180px;
    padding: 0 20px;
    font-size: 15px;
    line-height: 48px;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    border: none;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

}

#passengers {
    height: 48px;
    width: 120px;
    padding: 0 20px;
    margin-left: 10px;
    font-size: 15px;
    line-height: 48px;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    border: none;
}
#class {
    height: 48px;
    width: 120px;
    line-height: 48px;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    border: none;
    margin-right: 20px;
    
}

#btn-1 {
    height: 48px;
    padding: 0 20px;
    font-size: 15px;
    line-height: 48px;
    background-color: #fa503f;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: white;
    border-radius: 25px;
    border: none;
}

#clean {
    background-color: #fa503f;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: white;
    border-radius: 25px;
    border: none;
    font-size: 13px;
}

#section {
    margin-left: 100px;
    margin-right: 150px;
    margin-top: 30px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-weight: bold;
    background-color: #297479;
    display:none;
}

.container{
    margin-top: 50px;
}

